# Node.js
node_modules
npm-debug.log
yarn-error.log
.env
build/
dist/

# Strapi
.cache/
.tmp/
*.db

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# IDE specific
.idea/
.vscode/

# Untracked submodules or directories
my-strapi-app/task4/

